.container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 5px;
}

.item {
    border-radius: 5px;
    padding: 10px;
    background: #F2F2F2;
}

.item img {
    max-width: 100%;
}